@charset "UTF-8";
img {
  display: block;
  max-width: 100%; /* cách chỉnh ảnh nhỏ lại */
}

.header {
  height: 300px;
}
.header_logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a2b5f;
  line-height: 1.4;
  padding-bottom: 200px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  padding-top: 4rem;
}
.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header_menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header_menu-item {
  margin-left: 5rem;
}
.header_menu-item:last-child {
  margin-left: 5rem;
}
.header_menu-link {
  font-size: 1.6rem;
  color: #1a2b5f;
  transition: color 0.25s linear, border 0.25s linear;
}
.header_menu-link:hover {
  color: #ffc87a;
}
.header_menu-login {
  padding: 1rem 2rem;
  display: inline-block;
  border: 1px solid;
  border-radius: 2.5rem;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: #1a2b5f;
}
.logo_text {
  color: #ffc87a;
}

.banner {
  padding-top: 1.5rem;
  padding-bottom: 15rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}
.banner_heading {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 2rem;
}
.banner_desc {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 4rem;
}
.banner_buttons {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.banner_buttons .btn {
  margin: 0 1rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: #1a2b5f;
  padding: 1rem 2rem;
  display: inline-block;
  background-color: transparent;
}
.btn--border {
  border: 1px solid currentColor;
}
.btn--rounded {
  border-radius: 5rem;
}
.btn--primary {
  background-color: #ffc87a;
}
.btn--primary.has-shadow {
  box-shadow: 0 10px 35px -5px #ffc87a;
}

.category_list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.category_item {
  width: calc(25% - 22.5px);
  padding: 0.5rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.category_item:first-child {
  box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 0.25);
}
.category_item:nth-child(2) {
  box-shadow: 0 20px 35px -5px rgba(255, 112, 109, 0.25);
}
.category_item:nth-last-child(2) {
  box-shadow: 0 20px 35px -5px rgba(133, 152, 255, 0.25);
}
.category_item:last-child {
  box-shadow: 0 20px 35px -5px rgba(255, 200, 195, 0.25);
}
.category_image {
  border-radius: inherit;
  margin-bottom: 4rem;
}
.category_name {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
.category_details {
  font-size: 1, 4rem;
  color: #c6cad7;
  margin-top: auto;
}
.category_details i {
  margin-left: 1rem;
}

/*# sourceMappingURL=style.css.map */
